---
import PricingFeature from "./PricingFeature.astro";

interface Props {
    name: string;
    description: string;
    price: string;
    singleServer?: boolean;
    customErrorPages?: boolean;
    roleManagement?: boolean;
    dedicatedDiscord?: boolean;
    mostPopular?: boolean;
    waitlist?: string;
    uptimeMonitoring?: {
        hint?: string;
        partial?: boolean;
    };
    s3Storage?: {
        hint?: string;
        partial?: boolean;
    };
}

const { name, description, price, singleServer, customErrorPages, roleManagement, dedicatedDiscord, mostPopular, waitlist, uptimeMonitoring, s3Storage } = Astro.props;

---

<div class={`pricing-card ${mostPopular ? 'relative z-10 border-2 border-green-600 md:transform md:scale-105' : 'border border-gray-200 dark:border-gray-700 -md:scale-105'} bg-white dark:bg-gray-800 rounded-lg shadow-lg p-4 md:p-6 flex flex-col my-4`}>
    <meta itemprop="price" content={price} />
    <meta itemprop="priceCurrency" content="USD" />
    <meta itemprop="name" content={`${name} Plan`} />
    <meta itemprop="description" content={description} />
    <div class="flex flex-col items-center mb-4 md:mb-6">
        {mostPopular && (
            <div class="absolute -top-4 left-1/2 transform -translate-x-1/2 -rotate-3 bg-green-600 text-white w-44 text-center rounded">
                <div class="rotate-2 p-2 font-mono text-sm">recommended</div>
            </div>
        )}
        <div class={`font-semibold ${mostPopular ? 'text-xl md:text-2xl' : 'text-lg md:text-xl'} mb-2`}>
            {name}
        </div>
        <div class="flex items-baseline text-gray-900 dark:text-white">
            <span class="text-2xl md:text-3xl font-semibold">$</span>
            <span class="text-4xl md:text-5xl font-extrabold tracking-tight">{price}</span>
            <span class="ml-1 text-lg md:text-xl font-normal text-gray-500 dark:text-gray-400">/mo</span>
        </div>
        <small class="italic text-gray-400 mt-1">(price excludes tax)</small>
    </div>
    <ul class="space-y-2 md:space-y-4 mb-4 md:mb-6 flex-grow px-2 md:px-0">
        <li class="flex items-center">
            <svg class="w-4 h-4 text-blue-700 dark:text-blue-500 mr-2 md:mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path></svg>
            <span class="text-base md:text-lg text-green-600 font-bold">Free 14 Days Trial</span>
        </li>
        <PricingFeature name="Unlimited Apps & Databases" />
        <PricingFeature name="Unlimited Backups" hint="You are free to schedule as many backups as you want and upload them to your own S3-compatible storage." />
        <PricingFeature name="Unlimited Users" />
        {singleServer ? (
            <PricingFeature 
                name="Single Server" 
                partial 
                hint="You provide your own server. We offer the PaaS control layer."
            />
        ) : (
            <PricingFeature 
                name="Unlimited Servers" 
                hint="You provide your own servers. We offer the PaaS control layer for multiple servers."
            />
        )}
        {customErrorPages ? <PricingFeature soon name="Custom Error Pages" hint="Custom Error Pages for reverse-proxy error responses (502, 503, 504) if they are not handled by the application itself." /> : <PricingFeature soon name="Standard Error Pages" partial hint="Ptah.sh branded Error Pages for reverse-proxy error responses (502, 503, 504) if they are not handled by the application itself." />}
        {dedicatedDiscord ? <PricingFeature name="Dedicated Discord Channel" icon="discord" /> : <PricingFeature name="Community Discord Channel" icon="discord" partial />}
        {roleManagement ? <PricingFeature name="Multiple User Roles" soon /> : <PricingFeature name="Single User Role" partial />}
        <PricingFeature 
            name="Uptime Monitoring" 
            soon 
            hint={uptimeMonitoring?.hint}
            partial={uptimeMonitoring?.partial}
        />
        <PricingFeature name="Cloud Storage for Backups" 
            hint={"You can opt-in to use a managed cloud storage for your backups. " + (s3Storage?.hint || '')}
            partial={s3Storage?.partial}
            soon
         />
    </ul>

    <div class="italic text-xs md:text-sm text-center text-gray-600 dark:text-gray-400 mb-4 text-balance">{description}</div>

    {waitlist ? (
        <button
            type="button"
            onclick={`window.open('${waitlist}')`}
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
            Join the Waitlist!
        </button>
    ) : (
        <div>
            <a
                href="https://ctl.ptah.sh/register"
                class="block w-full text-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 md:px-5 md:py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            >
                Start free Trial
            </a>
            <p class="text-xs text-center mt-2 text-gray-600 dark:text-gray-400">No credit card required</p>
        </div>
    )}
</div>
