---
import type { GetStaticPaths } from "astro";
import { getCollection, getEntry } from 'astro:content';
import MarketplacePage from "../../../components/MarketplacePage.astro";
import fs from 'fs';
import path from 'path';

export const getStaticPaths = (async () => {
    const tags = await getCollection('marketplaceTags');

    return tags.map(tag => ({
        params: {
            tag: tag.id,
        }
    }));
}) satisfies GetStaticPaths;

function getLogoUrl(template: any): string {
    if (!template.data.logo) {
        return '/marketplace/images/no-logo.svg';
    }

    const publicPath = path.join(process.cwd(), 'public', template.data.logo);
    if (fs.existsSync(publicPath)) {
        return template.data.logo;
    }
    
    throw new Error('Logo not found');
}

const tag = await getEntry('marketplaceTags', Astro.params.tag);

if (!tag) {
    return Astro.redirect('/404');
}

const allTemplates = await getCollection('marketplace', entry => entry.id.includes('/'));
const templates = allTemplates.filter(template => template.data.tags?.includes(tag.id));
---

<MarketplacePage
    title={`1-Click Apps: ${tag.data.name}`}
    description={`Deploy ready to use ${tag.data.name} apps and services in seconds.`}
    breadcrumbItems={[
        { label: "Home", href: "/" },
        { label: "Marketplace", href: "/marketplace/" },
        { label: tag.data.name },
    ]}
    showCategories={false}
>
    <h2>{tag.data.name}</h2>

    <ul class="my-8 p-0 list-none grid gap-6 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 not-content">
        {templates.map(template => (
            <li class="w-full">
                <a href={`/marketplace/${template.id}/`}
                    class:list={[
                        "no-underline block h-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700",
                    ]}
                >
                    <div class="flex items-center mb-4">
                        <img 
                            src={getLogoUrl(template)}
                            alt={`${template.data.name} Logo`} 
                            class="w-12 h-12 mr-4 object-contain"
                        />
                        <h3 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">
                            {template.data.name}
                        </h3>
                    </div>
                    <p class="font-normal text-gray-700 dark:text-gray-400">
                        {template.data.description}
                    </p>
                </a>
            </li>
        ))}
    </ul>

    <a href="https://r.ptah.sh/chat" class="italic" rel="noopener nofollow" target="_blank">Missing app or service?</a>

    <div class="my-8">
        <h2>{tag.data.question || `Why use ${tag.data.name}?`}</h2>
        <p class="mb-4" set:html={tag.data.description} />
        <p>By leveraging our 1-click {tag.data.name} apps, you can:</p>
        <ul class="list-disc pl-5">
            <li>Speed up your project's development and deployment</li>
            <li>Eliminate the need for manual configuration and setup</li>
            <li>Ensure consistency and reliability across your project's infrastructure</li>
            <li>Focus on your project's unique aspects, rather than spending time on setup and configuration</li>
        </ul>
    </div>
</MarketplacePage>
