---
import type { GetStaticPaths } from "astro";
import MarketplacePage from "../../../components/MarketplacePage.astro";
import { getCollection, getEntry } from 'astro:content';


export const getStaticPaths = (async () => {
    const apps = await getCollection('marketplace', entry => entry.id.includes('/'));

    return apps.map(app => {
        const [category, template] = app.id.split('/');

        return {
            params: {
                category,
                template,
            }
        }
    });
}) satisfies GetStaticPaths;

const category = await getEntry('marketplace', Astro.params.category);
const template = await getEntry('marketplace', `${Astro.params.category}/${Astro.params.template}`);

const extendsApps = await getCollection('marketplace', entry => template.data.extends?.map((e: any) => e.slug).includes(entry.id));
const usedByApps = await getCollection('marketplace', entry => entry.data.extends?.map((e: any) => e.slug).includes(template.id));

const allTags = await getCollection('marketplaceTags');

const tags = template?.data.tags.map((tag: any) => {
    const tagEntry = allTags.find((t: any) => t.id === tag);

    return tagEntry;
});

---

<MarketplacePage
    title={"1-Click Apps: " +category.data.name + ' - ' + template.data.name}
    description={"Deploy fully configured " + template.data.name + " in seconds with 1-click apps."}
    showCategories={false}
    tags={tags}
>
    <dl>
        <dt>Info</dt>
        <dd>{template.data.description}
        </dd>
        <dt>About {template.data.name}</dt>
        <dd>{template.data.about}</dd>
        <dt>Website</dt>
        <dd><a href={template.data.url} rel="noopener noreferrer nofollow" target="_blank">{template.data.url}</a></dd>
        <dt>Extends</dt>
        <dd>
            {extendsApps.length === 0 && <i>None</i>}
            <ul class="px-4">
                {extendsApps.map(app => (
                    <li>
                        <a href={`/marketplace/${app.id}/`}>{app.data.name}</a> - {app.data.description}
                    </li>
                ))}
            </ul>
        </dd>
        <dt>Used by</dt>
        <dd>
            {usedByApps.length === 0 && <i>None</i>}
            <ul class="px-4">
                {usedByApps.map(app => (
                    <li>
                        <a href={`/marketplace/${app.id}/`}>{app.data.name}</a> - {app.data.description}
                    </li>
                ))}
            </ul>
        </dd>
    </dl>

    <h2>Processes</h2>
    <ul class="list-none p-0 grid gap-4 md:grid-cols-2">
        {template.data.processes.map((process: any) => (
            <li class="border border-gray-200 my-4 rounded">
                <h3 class="bg-gray-50 font-bold p-4" style="font-size: 1rem">{process.name}</h3>
                <div class="px-4">
                    <p>{process.description}</p>

                    <dl>
                        <dt>Docker Image</dt>
                        <dd><code>{process.data.dockerImage}</code></dd>
                    </dl>
                </div>

                <div class="px-4 text-sm">
                    <a href={process.url} rel="noopener noreferrer nofollow" target="_blank">Documentation</a>
                </div>
            </li>
        ))}
    </ul>
    <h2>Why host {template?.data.name} on your own VPS or dedicated server?</h2>
    <p>Hosting {template?.data.name} on your own VPS or dedicated server gives you full control over your application. You can customize the server environment, optimize performance, and ensure security. It also allows you to scale your application as needed without any restrictions.</p>
    <p>Additionally, hosting on your own VPS or dedicated server can lead to significant cost savings. By managing your own infrastructure, you can avoid the recurring costs associated with cloud services and optimize your resource allocation to meet your specific needs. This can result in a more cost-effective solution for your application.</p>
    <p>Want to explore more options? <a href={`/marketplace/${category?.id}/`}>See all {category?.data.description}</a> to find the best fit for your needs.</p>

    {tags.map(tag => (
        <h2>Why use {tag.data.name}?</h2>
        <p>{tag.data.description}</p>
    ))}
</MarketplacePage>
